<div style="position: relative">
    <div class="row">
        <div class="col-lg-4" ng-controller="OssmoneyInvestmentNetWorthController">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{ "investment.networth" | translate }}</legend>
                <div class="text-center" style="height: 337px;margin-top: 10px">
                    <canvas class="chart chart-doughnut" height="275" data="data" labels="labels"></canvas>
                    <div class="donut-inner">{{ (netWorth + deposits + preciousMetals) | currency: (currency.currencyCode | translate) }}</div>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-4" ng-controller="OssmoneyDepositChartController">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{ "investment.deposits.total" | translate }}</legend>
                <div class="text-center" style="height: 337px;margin-top: 10px">
                    <canvas class="chart chart-pie" height="275" data="data" labels="labels"></canvas>
                    <div class="income">{{ deposits | currency: (currency.currencyCode | translate) }}</div>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-4" ng-controller="OssmoneyPreciousMetalChartController">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{ "investment.preciousMetals" | translate }}</legend>
                <div class="text-center" style="height: 337px;margin-top: 10px">
                    <canvas class="chart chart-pie" height="275" data="data" labels="labels"></canvas>
                    <div class="income">{{ preciousMetalsTotal | currency: (currency.currencyCode | translate) }}</div>
                </div>
            </fieldset>
        </div>
    </div>
</div>