<div class="row">
    <div class="col-lg-6" ng-controller="OssmoneyBudgetEditController">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">{{ "budget.edit" | translate }}</legend>
            <form id="budget_edit_form">
                <div class="row">
                    <div class="col-lg-12 form-group" style="margin-top: 10px">
                        <input id="view.budget.subcategory" type="text" value="{{ budget.subcategory.tag | translate }}" class="form-control" disabled="disabled" />
                    </div>
                    <div class="col-lg-6 form-group required {{ nameValidation }}">
                        <label for="view.budget.name" class="control-label">{{ "budget.add.name" | translate}}</label>
                        <input id="view.budget.name" type="text" ng-model="budget.name" class="form-control" />
                        <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                        <span class="help-block {{ nameValidation || 'ng-hide' }}" style="">{{ "budget.add.validation.name" | translate }}</span>
                    </div>
                    <div class="col-lg-6 form-group required {{ balanceValidation }}">
                        <label for="view.budget.amount" class="control-label">{{ "budget.add.amount" | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-addon">{{ currency.currencyCode | translate }}</span>
                            <input id="view.budget.amount" type="number" ng-model="budget.amount.number" class="form-control" min="0" maxlength="12" />
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                        <span class="help-block {{ balanceValidation || 'ng-hide' }}">{{ "budget.add.validation.balance" | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group required {{ fromValidation }}">
                        <label for="view.budget.from" class="control-label">{{ "budget.add.from" | translate}}</label>
                        <p class="input-group">
                            <input id="view.budget.from" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="budget.from" is-open="openedFrom" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <div class="help-block {{ fromValidation || 'ng-hide' }}">{{ "budget.add.validation.from" | translate }}</div>
                        </p>
                    </div>
                    <div class="col-lg-6 form-group required {{ toValidation }}">
                        <label for="view.budget.to" class="control-label">{{ "budget.add.to" | translate}}</label>
                        <p class="input-group">
                            <input id="view.budget.to" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="budget.to" is-open="openedTo" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <div class="help-block {{ toValidation || 'ng-hide' }}">{{ "budget.add.validation.to" | translate }}</div>
                        </p>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 27px">
                    <div class="col-lg-12 text-right" ng-controller="OssmoneyBudgetDeleteController">
                        <script type="text/ng-template" id="budget.remove.modal.html">
                            <div class="modal-header">
                               <h3 class="modal-title">{{ "budget.delete.title" | translate }}</h3>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="text-center budget ellipsis">{{ budget.name }}</div>
                                    <div><a><div class="new-transaction-icon-inner"><span class="{{ budget.subcategory.icon ? budget.subcategory.icon : budget.subcategory.categories[0].icon }}"></span></div></a></div>
                                    <div class="text-center"><span>{{ budget.spent || 0 }} / {{ budget.amount.number | currency: (budget.amount.currency.currencyCode | translate) }} </span></div>
                                </div>
                                <br><br>
                                <span>{{ "budget.delete.type.message" | translate }}</span>
                                <input ng-model="typed" class="form-control" style="display: inline; width: 25%" />
                                <br>
                                <span class="red remainder">{{ "budget.delete.warning" | translate }}</span>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning" ng-click="cancel()">{{ "CANCEL" | translate }}</button>
                                <button class="btn btn-primary" ng-click="removeBudget()" ng-disabled="(typed !== action) || loading">{{ "budget.edit.delete" | translate }}<i class="fa fa-spinner fa-spin ng-hide" data-ng-show="loadingRemove"></i></button>
                            </div>
                        </script>
                        <a class="btn btn-warning btn-lg" role="button" ng-click="showModal()">{{ "budget.edit.delete" | translate }}</a>
                        <a class="btn btn-primary btn-lg" role="button" ng-click="saveBudget()" ng-disabled="loading">{{ "budget.edit.save" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
                    </div>
                </div>
            </form>
      </fieldset>
    </div>
    <div class="col-lg-6" ng-controller="OssmoneyBudgetOverTimeController">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">{{ "budget.expenses.time" | translate }}</legend>
            <div class="text-center" style="height: 280px;margin-top: 10px">
                <canvas class="chart chart-line" style="margin-top: 10px" data="data_budget" labels="labels_budget" series="series_budget" colours="colours_budget"></canvas>
            </div>
        </fieldset>
    </div>
</div>
<h1 class="income">{{ "budget.movement.title" | translate}}</h1>
<form name="budgetForm" ng-controller="OssmoneyBudgetDetailTableController">
    <div class="paging-table" ng-controller="OssmoneyBudgetTransactionsController" style="height: 475px">
        <table id="detail-budget-smart-table" class="table reduced" st-table="transactions">
            <thead>
                <th colspan="6">
                    <div class="btn-group" style="width: 100%">
                        <input id="table-search" placeholder="{{ 'transaction.search' | translate }}" class="input-sm form-control" type="search" st-search />
                        <span id="searchclear" class="glyphicon glyphicon-remove-circle" search-clear ng-click=""></span>
                    </div>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in transactions">
                    <td class="text-center" style="width: 5em"><p>{{ transaction.operationDate | date: 'shortDate' }}</p></td>
                    <td class="ellipsis"><p>{{ transaction.memo | translate }}</p></td>
                    <td class="text-right">
                        <h4>
                            <a ng-repeat="tag in transaction.tags"><span tag-filter class="label label-default" style="margin-right: 2px" ng-click=""><i class="{{ tag.icon ? tag.icon : tag.tags[0].icon }}"></i> {{ tag.text }}</span></a>
                        </h4>
                    </td>
                    <td class="text-right" style="width: 115px"><p>{{ transaction.amount.number | currency: (transaction.amount.currency.currencyCode | translate) }}</p></td>
                </tr>
                <tr ng-if="budget.transactions.length === 0">
                    <td colspan="4">{{ "budget.empty" | translate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>