<div style="position: relative">
    <div class="row">
        <div class="col-lg-5">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{ "budget.categories" | translate }}</legend>
                <budget-row-generator col-count="3"></row-generator>
            </fieldset>
        </div>
        <div class="col-lg-7">
            <fieldset class="scheduler-border" ng-controller="OssmoneyBudgetMonthController" style="height: 370px">
                <legend class="scheduler-border">{{ "budget.monthly.chart" | translate }} {{ month }}</legend>
                <canvas style="margin-top: 10px" class="chart chart-bar" height="155" data="data_budget" labels="labels_budget" series="series_budget" colours="colours_budget"></canvas>
            </fieldset>
        </div>
    </div>
</div>
<h1 class="income">{{ "budget.movement.title" | translate}}</h1>
<form name="budgetForm">
    <div class="paging-table" ng-controller="OssmoneyBudgetTransactionsController" style="height: 400px">
        <table id="budget-smart-table" class="table reduced" st-table="rowCollection" st-safe-src="monthlyBudgetTransactions">
            <thead>
                <th colspan="6">
                    <div class="btn-group" style="width: 100%">
                        <input id="table-search" placeholder="{{ 'transaction.search' | translate }}" class="input-sm form-control" type="search" st-search />
                        <span id="searchclear" class="glyphicon glyphicon-remove-circle" search-clear ng-click=""></span>
                    </div>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in rowCollection">
                    <td class="text-center" style="width: 5em"><p>{{ transaction.operationDate | date: 'shortDate' }}</p></td>
                    <td class="ellipsis"><p>{{ transaction.memo | translate }}</p></td>
                    <td class="text-right">
                        <h4>
                            <a ng-repeat="tag in transaction.tags"><span tag-filter class="label label-default" style="margin-right: 2px" ng-click=""><i class="{{ tag.icon ? tag.icon : tag.tags[0].icon }}"></i> {{ tag.text }}</span></a>
                        </h4>
                    </td>
                    <td class="text-right" style="width: 115px"><p>{{ transaction.amount.number | currency: (transaction.amount.currency.currencyCode | translate) }}</p></td>
                </tr>
                <tr ng-if="rowCollection.length === 0">
                    <td colspan="4">{{ "budget.empty" | translate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>