<div class="row">
    <div class="col-lg-8">
        <div class="page-header">
            <h1>{{ "pm.list.title" | translate }}</h1>
        </div>
    </div>
</div>
<form name="transactionForm">
    <div class="paging-table ng-hide" ng-hide="retrieving" ng-cloak>
        <table id="smart-table" class="table reduced" st-table="rowCollection" st-safe-src="metalTransactions" st-select-mode="single">
            <thead>
                <tr>
	                <th colspan="11">
	                    <div class="btn-group" style="width: 100%">
	                        <input id="table-search" placeholder="{{ 'transaction.search' | translate }}" class="input-sm form-control" type="search" st-search />
	                        <span id="searchclear" class="glyphicon glyphicon-remove-circle" search-clear ng-click=""></span>
	                    </div>
	                </th>
	            </tr>
	            <tr>
	               <th colspan="7"></th>
	               <th style="width: 6.8em">{{ "pm.list.buy.price" | translate}}</th>
	               <th style="width: 6.8em">{{ "pm.list.actual.price" | translate}}</th>
	               <th style="width: 5em">&#160;&#160;&#160;{{ "pm.list.pnl" | translate}}</th>
	               <th></th>
	            </tr>
            </thead>
            <tbody>
                <tr class="{{ rowCollection.length > 0 ? 'hidden' : '' }}"><td colspan="5">{{ "pm.list.empty" | translate }}</td></tr>
                <tr ng-repeat="transaction in rowCollection">
                    <td style="width: 3em">
                        <h4>
                            <a><span class="label label-default" style="margin-right: 2px" ng-click="" text-filter="{{ ('pm.' + transaction.product.shape) | translate }}">{{ ('pm.' + transaction.product.shape) | translate }}</span></a>
                        </h4>
                    </td>
                    <td style="width: 3em">
                        <h4>
                            <a><span class="label label-default" style="margin-right: 2px" ng-click="" text-filter="{{ ('pm.' + transaction.product.metalType) | translate }}">{{ ('pm.' + transaction.product.metalType) | translate }}</span></a>
                        </h4>
                    </td>
                    <td class="text-center" style="width: 5em"><p>{{ transaction.operationDate | date: 'shortDate' }}</p></td>
                    <td style="width: 3.5em" class="text-center"><p><span ng-if="transaction.remaining !== transaction.quantity">(</span>{{ transaction.remaining | number }}<span ng-if="transaction.remaining !== transaction.quantity"> / {{ transaction.quantity | number }})</span></p></td>
                    <td class="ellipsis"><p><span ng-if="transaction.mintedYear">({{ transaction.mintedYear }}) </span>{{ transaction.product.name | translate }}</p></td>
                    <td class="text-right" style="width: 7em"><p style="margin-right: 1em">{{ transaction.weight | number }} gr</p></td>
                    <td class="text-right" style="width: 6em"><p>{{ transaction.weightInMetal | number }} gr</p></td>
                    <td class="text-right"><p>{{ transaction.amount.number | currency: (transaction.amount.currency.currencyCode | translate) }}</p></td>
                    <td class="text-right"><p>{{ (transaction.weightInMetal * transaction.spot) | currency: (transaction.amount.currency.currencyCode | translate) }}</p></td>
                    <td class="text-right" ng-class="{red: transaction.pnl < 0}"><p>{{ transaction.pnl }}%</p></td>
                    <td class="editable"><a ui-sref="pm_sell({ 'preciousMetal': transaction.preciousMetal, 'preciousMetalTransaction': transaction })" style="position: relative;top: 10px" title="{{ 'pm.sell' | translate }}"><span class="fa fa-money" aria-hidden="true"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>