<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ "pm.sell.title" | translate }}</h2></div>
    <div class="panel-body">
        <form id="pm_sell">
            <div class="row" style="padding: 3px">
                <div class="col-lg-4 form-group">
                    <label for="pm.sell.metal">{{ "pm.sell.metal" | translate}}</label>
                    <select id="pm.sell.metal" class="form-control" ng-model="transaction.product.metalType" disabled="disabled">
                        <option value="GOLD">{{ "pm.GOLD" | translate}}</option>
                        <option value="SILVER">{{ "pm.SILVER" | translate}}</option>
                        <option value="PLATINUM">{{ "pm.PLATINUM" | translate}}</option>
                        <option value="PALLADIUM">{{ "pm.PALLADIUM" | translate}}</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="pm.sell.shape">{{ "pm.sell.shape" | translate}}</label>
                    <select id="pm.sell.shape" class="form-control" ng-model="transaction.product.shape" disabled="disabled">
                        <option value="COIN">{{ "pm.COIN" | translate}}</option>
                        <option value="BAR">{{ "pm.BAR" | translate}}</option>
                        <option value="NUGGET">{{ "pm.NUGGET" | translate}}</option>
                        <option value="MEDAL">{{ "pm.MEDAL" | translate}}</option>
                        <option value="JEWEL">{{ "pm.JEWEL" | translate}}</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="pm.sell.mint">{{ "pm.sell.mint" | translate}}</label>
                    <select id="pm.mint" class="form-control" ng-model="transaction.product.mint" disabled="disabled">
                        <option value="UNKNOWN_MINT">{{ "pm.UNKNOWN_MINT" | translate}}</option>
                        <option value="CHINA_MINT">{{ "pm.CHINA_MINT" | translate}}</option>
                        <option value="MEXICO">{{ "pm.MEXICO" | translate}}</option>
                        <option value="PERTH_MINT">{{ "pm.PERTH_MINT" | translate}}</option>
                        <option value="ROYAL_CANADIAN_MINT">{{ "pm.ROYAL_CANADIAN_MINT" | translate}}</option>
                        <option value="SOMALIA">{{ "pm.SOMALIA" | translate}}</option>
                        <option value="SOUTH_AFRICA_MINT">{{ "pm.SOUTH_AFRICA_MINT" | translate}}</option>
                        <option value="UK_ROYAL_MINT">{{ "pm.UK_ROYAL_MINT" | translate}}</option>
                        <option value="US_MINT">{{ "pm.US_MINT" | translate}}</option>
                    </select>
                </div>
            </div>
	        <div class="row">
	            <div class="col-lg-4 form-group">
	                <label for="pm.sell.product" class="control-label">{{ "pm.buy.product" | translate}}</label>
	                <select id="pm.sell.product" class="form-control" ng-options="(product.name | translate) for product in products" ng-model="transaction.product" disabled="disabled"></select>
	            </div>
	           <div class="col-lg-4 form-group">
	                <label for="pm.sell.mintedYear" class="control-label">{{ "pm.buy.mintedYear" | translate}}</label>
	                <input id="pm.sell.mintedYear" type="number" ng-model="transaction.mintedYear" class="form-control" min="1000" maxlength="4" disabled="disabled" />
	            </div>
	        </div>
			<div class="row">
			    <div class="col-lg-4 form-group">
			        <label for="pm.sell.weight" class="control-label">{{ "pm.buy.weight" | translate}}</label>
			        <input id="pm.sell.weight" type="number" ng-model="transaction.weight" class="form-control" min="0" maxlength="8" disabled="disabled" />
			    </div>
			    <div class="col-lg-4 form-group">
			        <label for="pm.sell.weightInMetal" class="control-label">{{ "pm.buy.weightInMetal" | translate}}</label>
			        <input id="pm.sell.weightInMetal" type="number" ng-model="transaction.weightInMetal" class="form-control" min="0" maxlength="8" disabled="disabled" />
			    </div>
			    <div class="col-lg-4 form-group">
			        <label for="pm.sell.purity" class="control-label">{{ "pm.buy.purity" | translate}}</label>
			        <input id="pm.sell.purity" type="number" ng-model="transaction.purity" class="form-control" min="0" maxlength="6" disabled="disabled" />
			    </div>
			</div>
			<div class="row">
                <div class="col-lg-4 form-group required {{ quantityValidation }}" style="position: relative">
                    <label for="pm.sell.quantity" class="control-label">{{ "pm.buy.quantity" | translate}}</label>
                    <input id="pm.sell.quantity" type="number" ng-model="transaction.quantity" class="form-control" min="1" step="1" />
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ quantityValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ quantityValidation || 'ng-hide' }}">{{ "pm.sell.validation.quantity" | translate }}</span>
                </div>
                <div class="col-lg-4 form-group required {{ amountValidation }}" style="position: relative">
                    <label for="pm.sell.amount" class="control-label">{{ "pm.sell.amount" | translate}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ transaction.amount.currency.currencyCode | translate }}</span>
                        <input id="pm.sell.amount" type="number" ng-model="transaction.amount.number" class="form-control" min="0" maxlength="12" />
                    </div>
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ amountValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ amountValidation || 'ng-hide' }}">{{ "pm.sell.validation.amount" | translate }}</span>
                </div>
                <div class="col-lg-4 form-group required {{ dateValidation }}" style="position: relative">
                    <label for="pm.sell.operationDate" class="control-label">{{ "pm.sell.operationDate" | translate}}</label>
                    <p class="input-group">
                        <input id="pm.sell.operationDate" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="transaction.operationDate" is-open="opened" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div class="help-block {{ dateValidation || 'ng-hide' }}">{{ "pm.sell.operationDate.required" | translate }}</div>
                    </p>
                </div>
            </div>
			<hr>
			<div class="row">
			    <div class="col-lg-6 form-group">
			        <label for="pm.sell.account" class="control-label">{{ "pm.sell.account" | translate}}</label>
			        <select id="pm.sell.account" class="form-control" ng-model="transaction.account" ng-options="((account.name | translate) + ' [' + (account.currentBalance.number | currency: (account.currentBalance.currencyCode | translate) ) + ']') for account in accounts | filter: {creditCard: false} | filter: {closed: null}"></select>
			    </div>
			    <div class="col-lg-6 form-group">
			        <span class="glyphicon glyphicon-info-sign" tooltip-placement="right" tooltip-class="tooltip-custom" tooltip="{{ 'pm.sell.tooltip' | translate }}"></span>
			    </div>
			</div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <a class="btn btn-primary btn-lg" role="button" ng-click="sellPreciousMetal()" ng-disabled="loading || retrieving">{{ "pm.sell.create" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
    </div>
</div>