<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ (deposit.uuid ? "deposit.modify.title" : "deposit.add.title") | translate }}</h2></div>
    <div class="panel-body">
        <form>
            <div class="row">
				<div class="col-lg-6 form-group required {{ bankValidation }}">
				    <label for="deposit.bank" class="control-label">{{ "bank" | translate}}</label>
				    <select id="deposit.bank" class="form-control" ng-model="deposit.financialInstitution" ng-options="(bank.name | translate) for bank in banks[country]" ng-disabled="deposit.uuid"></select>
				    <span class="glyphicon glyphicon-remove form-control-feedback {{ bankValidation || 'ng-hide' }}" aria-hidden="true"></span>
				    <span class="help-block {{ bankValidation || 'ng-hide' }}" style="">{{ "deposit.validation.bank" | translate }}</span>
                </div>
                <div class="col-lg-6 form-group required {{ nameValidation }}">
                    <label for="deposit.name" class="control-label">{{ "deposit.name" | translate}}</label>
                    <input id="deposit.name" type="text" ng-model="deposit.name" class="form-control" />
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ nameValidation || 'ng-hide' }}" style="">{{ "deposit.validation.name" | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="deposit.opened" class="control-label">{{ "deposit.opened" | translate}}</label>
                    <p class="input-group">
                        <input id="deposit.opened" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="deposit.opened" is-open="opened" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-lg-6 form-group required {{ balanceValidation }}">
                    <label for="deposit.balance" class="control-label">{{ "deposit.balance" | translate}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ deposit.balance.currency.currencyCode | translate }}</span>
                        <input id="deposit.balance" type="number" ng-model="deposit.balance.number" class="form-control" min="0" maxlength="12" />
                    </div>
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ balanceValidation || 'ng-hide' }}">{{ "deposit.validation.balance" | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group required">
                    <label for="deposit.duration" class="control-label">{{ "deposit.duration" | translate}}</label>
                    <select id="deposit.duration" class="form-control" ng-model="deposit.duration">
                        <option value="1">{{ "deposit.month" | translate}}</option>
                        <option value="3">3{{ "deposit.months" | translate}}</option>
                        <option value="6">6{{ "deposit.months" | translate}}</option>
                        <option value="9">9{{ "deposit.months" | translate}}</option>
                        <option value="12">12{{ "deposit.months" | translate}}</option>
                        <option value="18">18{{ "deposit.months" | translate}}</option>
                        <option value="24">24{{ "deposit.months" | translate}}</option>
                        <option value="36">36{{ "deposit.months" | translate}}</option>
                    </select>
                </div>
                <div class="col-lg-6 form-group required {{ apyValidation }}">
                    <label for="deposit.annualPercentageYield" class="control-label">{{ "deposit.apy" | translate}}</label>
                    <input id="deposit.annualPercentageYield" type="number" ng-model="deposit.annualPercentageYield" class="form-control" min="0" maxlength="6" />
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ apyValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ apyValidation || 'ng-hide' }}">{{ "deposit.validation.apy" | translate }}</span>
                </div>
            </div>
            <div class="row {{ deposit.uuid ? 'ng-hide' : '' }}">
                <hr>
                <div class="col-lg-6 form-group">
                    <label for="deposit.account" class="control-label">{{ "deposit.account" | translate}}</label>
                    <select id="deposit.account" class="form-control" ng-model="deposit.account" ng-options="((account.name | translate) + ' [' + (account.currentBalance.number | currency: (account.currentBalance.currencyCode | translate) ) + ']') for account in accounts | filter: {creditCard: false} | filter: {closed: null}"></select>
                </div>
                <div class="col-lg-6 form-group">
                    <span class="glyphicon glyphicon-info-sign" tooltip-placement="right" tooltip-class="tooltip-custom" tooltip="{{ 'deposit.account.tooltip' | translate }}"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <a class="btn btn-primary btn-lg" role="button" ng-click="saveDeposit()">{{ (deposit.uuid ? "deposit.modify" : "deposit.create") | translate }}</a>
    </div>
</div>