<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ "pm.add.title" | translate }}</h2></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 form-group required">
                <label for="pm.metal" class="control-label">{{ "pm.add.metal" | translate}}</label>
                <select id="pm.metal" class="form-control" ng-model="metal.metalType">
                    <option value="GOLD">{{ "pm.GOLD" | translate}}</option>
                    <option value="SILVER">{{ "pm.SILVER" | translate}}</option>
                    <option value="PLATINUM">{{ "pm.PLATINUM" | translate}}</option>
                    <option value="PALLADIUM">{{ "pm.PALLADIUM" | translate}}</option>
                </select>
            </div>
            <div class="col-lg-4 form-group required">
                <label for="pm.shape" class="control-label">{{ "pm.add.shape" | translate}}</label>
                <select id="pm.shape" class="form-control" ng-model="metal.shape">
                    <option value="COIN">{{ "pm.COIN" | translate}}</option>
                    <option value="BAR">{{ "pm.BAR" | translate}}</option>
                    <option value="NUGGET">{{ "pm.NUGGET" | translate}}</option>
                    <option value="MEDAL">{{ "pm.MEDAL" | translate}}</option>
                    <option value="JEWEL">{{ "pm.JEWEL" | translate}}</option>
                </select>
            </div>
            <div class="col-lg-4 form-group required">
                <label for="pm.mint" class="control-label">{{ "pm.add.mint" | translate}}</label>
                <select id="pm.mint" class="form-control" ng-model="metal.mint">
                    <option value="UNKNOWN_MINT">{{ "pm.UNKNOWN_MINT" | translate}}</option>
                    <option value="CHINA_MINT">{{ "pm.CHINA_MINT" | translate}}</option>
                    <option value="MEXICO">{{ "pm.MEXICO" | translate}}</option>
                    <option value="PERTH_MINT">{{ "pm.PERTH_MINT" | translate}}</option>
                    <option value="ROYAL_CANADIAN_MINT">{{ "pm.ROYAL_CANADIAN_MINT" | translate}}</option>
                    <option value="SOUTH_AFRICA_MINT">{{ "pm.SOUTH_AFRICA_MINT" | translate}}</option>
                    <option value="UK_ROYAL_MINT">{{ "pm.UK_ROYAL_MINT" | translate}}</option>
                    <option value="US_MINT">{{ "pm.US_MINT" | translate}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 required {{ nameValidation }}">
                <label for="pm.name" class="control-label">{{ "pm.add.name" | translate}}</label>
                <input id="pm.name" type="text" ng-model="metal.name" class="form-control" />
                <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ nameValidation || 'ng-hide' }}" style="">{{ "pm.validation.name" | translate }}</span>
            </div>
            <div class="col-lg-4">
                <label for="pm.url" class="control-label">{{ "pm.add.url" | translate}}</label>
                <input id="pm.url" type="text" ng-model="metal.url" class="form-control" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-lg-12 text-right">
                <a class="btn btn-primary btn-lg" role="button" ng-click="saveMetal()" ng-disabled="loading">{{ "pm.add.create" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
            </div>
        </div>
    </div>
</div>